@model BookIndexViewModel
@{
    ViewData["Title"] = "Books";
}
@section Scripts {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/2.2.4/jquery.floatThead.min.js" integrity="sha512-QhaSMfyPHtKHbg7e//C6Y/nmpflIM9PgmhZ/TR+BcbRaR9eYXzZRfuK5D9pnVlp+J5zWXu5ckVzX4ycOQy/jZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="/js/splide.js"></script>
  <script>
    new Splide( '.splide',{
        perPage: 5,
        perMove: 1,
        autoplay: true,
        interval: 2000,
        pauseOnHover: true,
        type: 'loop',
        snap: false

    } ).mount();
  </script>
  <script>
    $(document).ready(function () {
        var searchBar = $('#searchBar');
        // DataTable
        var table = $('#bookTable').DataTable({

            autoWidth: false,
            scrollY: '30vh',
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            searching: true,
        });
            $(searchBar.on('keyup change clear', function () {
                    table.search(this.value).draw();
            }));
    });
  </script>
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Column Display</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" >
      <div class="modal-body">
            @foreach(var col in Model.Columns)
            {
                <div>
                    @Html.CheckBoxFor(m => m.UserPrefColumns[col.Name],new {@class="form-check-input"})
                    @col.Name
                </div>
            }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" asp-action="EditIndexColumnPrefs">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<h1 class="text-primary">@ViewData["Title"]</h1>

<div>
<div class="bookAdd" style="display:inline;">
    <input id="searchBar" class="form-control" type="search" style="display:inline;width:300px;" placeholder="Search..."/>
    <a id="columnFilterButton" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="margin-bottom:4px"><i class="bi bi-list-columns"></i></a>
    <div class="btn-group" role="group">
        <a asp-action="CreateFromISBN" style="margin-bottom:4px" type="button" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create Book</a>
        <div class="btn-group" style="margin-bottom:4px" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                <a asp-action="Create" class="dropdown-item">Manual Book Creation</a>
            </div>
        </div>
    
    </div>
</div>
</div>
   
<div class="search-table-outter" style="width:100%;">
    <table id="bookTable" class="table table-bordered table-striped" >
        <thead>
            <tr class="table-secondary header">
                @foreach(var col in Model.UserPreferencesBookIndexColumns)
                {
                    <th>
                        @col.IndexColumn.Name
                    </th>
                }
                <th>
                    Modify
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Books)
            {
                <tr>
                    
                    @foreach(var col in Model.UserPreferencesBookIndexColumns)
                    {
                        @if (col.IndexColumn.Name == "Title") 
                        {
                            <td style="min-width:20em">
                            @if (obj.isFavorite)
                            {
                                <i class="bi bi-suit-heart-fill"></i>
                            }
                            <a asp-action="DetailedView" asp-route-id="@obj.Id">@obj.GetType().GetProperty(col.IndexColumn.Name).GetValue(obj,null)</a>
                                
                            </td>
                        }else @if (col.IndexColumn.Name == "Description" || col.IndexColumn.Name == "Notes") {
                            <td style="min-width:40em;">
                                <div style="display: -webkit-box;max-height:4.5em;-webkit-line-clamp: 3;overflow: hidden;-webkit-box-orient: vertical;">
                                    @obj.GetType().GetProperty(col.IndexColumn.Name).GetValue(obj,null)
                                </div>
                            </td>
                        }else
                        {
                            <td style="min-width:10em" >
                                @obj.GetType().GetProperty(col.IndexColumn.Name).GetValue(obj,null)
                            </td>
                        }
                    }
                    <td style="min-width:8em">
                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-primary" style="margin-bottom: 10px"><i class="bi bi-pen"></i></a>
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@obj.Id"
                        class="btn btn-danger" style="margin-bottom: 10px"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr> 
            }
        </tbody>
    </table>
</div>
<div>
<section class="splide" aria-label="Splide Basic HTML Example" style="width:100%;">
      <div class="splide__track"  >
            <ul class="splide__list">
                @foreach(var obj in Model.Books)
                {
                       <li class="splide__slide"><a asp-action="DetailedView" asp-route-id="@obj.Id"><img style="width:10vw; max-height:80%" src=@obj.CoverLink></img></a></li>
                }
            </ul>
      </div>
    </section>
</div>
